* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.header {
    padding: 0 30px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.logo img {
    width: 80px;
}

.menu {
    display: flex;
    align-items: center;
}

/* style menu */
.menu > ul {
    display: flex;
}

.menu-item {
    font-size: 15px;
    margin: 0 10px;
    position: relative;
    height: 40px;

    display: flex;
    align-items: center;

    cursor: pointer;

    overflow: hidden;
}

.menu-item::before {
    content: "";

    width: 100%;
    height: 3px;
    background-color: green;

    position: absolute;
    bottom: 0;
    left: -100%;

    opacity: 0;

    transition: all 1s;
}

.menu-item:hover::before {
    left: 0%;
    opacity: 1;
}