* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
}
.box {
    width: 200px;
    height: 100px;
    background-color: chocolate;
    
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 3;     /* luôn phải đi kèm với thuộc tính position, giá trị càng lớn càng nổi lên trên */
}

.parent {
    width: 700px;
    height: 400px;
    background-color: bisque;
    
    position: relative;
}

.child {
    width: 100px ;
    height: 100px;
    background-color: blueviolet;

    position: absolute;
    top: 50px;
    left: 50px;
}

.btn-top {
    padding: 10px 30px;
    background-color: tomato;
    color: #fff;
    border: none;
    
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.sticky {
    height: 100px;
    background-color: darkorange;

    position: sticky;       /* thuộc tính sticky chỉ áp dụng với lớp cha có nút cuộn */
    top: 50px;
    left: 0;
}