* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-main, .p-sub, .p-sub-hover {
    padding: 0 8px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-main .icon, .p-sub-hover .icon {
    display: none;
}

/* Style for Menu */
.title {
    padding: 20px 0;
    font-weight: bold;
    font-size: 1.5em;
}

.menu {
    background-color: #fff;
    position: relative;

    box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
    
}

ul {
    list-style: none;
}

.menu-item {
    width: 200px;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.menu-item-1 a {
    text-decoration: none;
    color: black;
}

.menu-item:hover > .p-main {
    color: rgb(255, 166, 0);
    background-color: rgb(238, 238, 238);

    cursor: pointer;
}

.menu-item:hover > .p-main .icon {
    color: rgb(255, 166, 0);
    display: inline-block;
}

/* Style for sub-menu */
.sub-menu-1 {
    position: absolute;
    top: 0;
    left: 200px;

    width: 200px;
    background-color: #fff;
    height: 100%;

    box-shadow: 0 0 2px 0 rgba(0,0,0,.25);

    display: none;
}

.menu-item:hover .sub-menu-1 {
    display: block;
}

/* Style for sub-menu-2 */
.sub-menu-2 {
    position: absolute;
    top: 0;
    left: 200px;

    width: 200px;
    background-color: #fff;
    height: 100%;

    box-shadow: 0 0 2px 0 rgba(0,0,0,.25);

    display: none;
}

.menu-item:hover > .p-sub {
    color: rgb(255, 166, 0);
    background-color: rgb(238, 238, 238);

    cursor: pointer;
}

.menu-item-1:hover > .p-sub-hover {
    color: rgb(255, 166, 0);
    background-color: rgb(238, 238, 238);

    cursor: pointer;
}

.menu-item-1:hover > .sub-menu-2{
    display: block;
}

.menu-item-1:hover > .p-sub-hover .icon {
    color: rgb(255, 166, 0);
    display: inline-block;
}