* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.header {
    background-color: #30598c;
    padding: 0 30px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.logo img {
    width: 120px;
}

.sidebar {
    display: flex;
    align-items: center;
}

/* style menu */
.menu > ul {
    display: flex;
}

.menu-item {
    color: white;
    font-size: 15px;
    margin: 0 10px;
    position: relative;
    height: 60px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.menu-item span {
    margin-left: 4px;
}

/* style sub-menu */
.sub-menu {
    position: absolute;
    top: 100%;
    right: 0;

    width: 200px;
    box-shadow: 0 0 10px rgb(0 0 0/ 15%);
    background-color: #fff;
    border-radius: 4px;
    color: #212529;

    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-item {
    padding: 11px 16px;
    cursor: pointer;
    text-align: center;
}

.sub-menu-item:hover {
    background-color: #c4c4c4;
    color: #fff;
}
/*style shopping cart */
.cart {
    color: #fff;
    margin: 0 15px 0 10px;
    position: relative;

    cursor: pointer;
}
.fa-cart-shopping {
    font-size: 1.4rem;
    padding-right: 1rem;
}
.cart-count {
    position: absolute;
    top: -10px;
    left: 20px;

    background-color: #26a69a;

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
/*style avatar */
.avatar{
    position: relative;
}
.avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    cursor: pointer;
}

.avatar:hover .sub-menu {
    display: block;
}